# Arquivos gerados pelo sistema operacional
.DS_Store

# Arquivos de ambiente
.env

# Arquivos de cache e logs
*.pyc
cache
/cache
/__pycache__
/__pycache__/
__pycache__/
instance/
logs/

# Arquivos de dados
*.sqlite

# Dependências e pacotes Python
venv/
env/
*.pyc
*.pyo
*.pyd
*.pyz
*.pyw
*.pyc
*.pyo
.env