<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YouTD download</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="container">
        <h1 class="title">YouTD download</h1>
        <form action="/" method="POST" class="form">
            <label for="video_url">Cole o link do vídeo do YouTube:</label>
            <input type="text" id="video_url" name="video_url" required>
            <button type="submit">Verificar</button>
        </form>
    </div>
</body>
</html>
